.scrolling_posts_style
{
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
}



@media screen and (min-width: 800px) 
{
    .scrolling_posts_style
    {
        width:70%;

    }
    
}

@media screen and (min-width: 700px) and (max-width: 800px)
{
    .scrolling_posts_style
    {
        width:80%;
    }
    
}

@media screen and (max-width: 700px)
{
    .scrolling_posts_style
    {
        width:100%;
        flex-wrap: wrap;
    }
    
}