.menu_style
{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    box-shadow: 2px 2px 32px #FA3299;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.searchbar_style
{
    display: flex;
    margin: 1em;
}

.search_button_style
{
    margin-left:2em;
    background:none;
    color:#8DFA4D;
    border: none;
}

.search_button_style:hover
{
    color:#FA3299;
}

.name_of_app
{
    color:#8DFA4D;
    font-size: 1.2em;
}

.quote_of_app
{
    color: #FA3299;
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
}

