.scrolling_topics_style
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:4%;
    box-shadow: -6px -6px 18px #FA3299;
    width:30%;
    height: fit-content;
    border-radius: 1em;
}

@media screen and (max-width: 700px) 
{
    .scrolling_topics_style
    {
        width: 90%;

    }
}

@media screen and (min-width: 700px) and (max-width: 900px)
{
    .scrolling_topics_style
    {
        box-shadow: none;
        width:10%;
    }

}

.topics_title_style
{
    font-weight: 700;
    margin-bottom: 3em;
}

.topics_style
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}