.post_style
{
   display: flex;
   margin:5%;
   padding:5%;
   box-shadow: 12px 0px 32px #FA3299;
   border-radius: 1em;
}

.rating
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:20%;
    margin-right: 5%;
}

.rate{
    font-weight: 100;
    font-size: 1.4em;
    color:#FA3299;
}

.rate:hover
{
    color:#8DFA4D
}

.message_photo_style
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.post_photo
{
   width: 100%;
   height:auto;
   max-width: 100%;
   object-fit: cover;
}

.post_rates_style
{
    color:#FA3299;
    font-weight: bold;
    margin-left: 30px;
    margin-right:15px;
}

.message
{
    text-align: left;
}

.username
{
    text-transform: uppercase;
}

.comments_style
{
    background-color: #FA3299;
    color:black;
}

.comments_button_style
{
    background-color: #8DFA4D;
}

.comments_button_style:hover
{
    background-color: #FA3299
}

.comments_button_style:active
{
    background-color: #FA3299
}


